<div class="for-you-wrapper"> 
    <h3>For You</h3>
    <% # Will contain the code to display current hot items, etc%>
</div>

<div class="product-list-wrapper">
    <h3>Products</h3>

    <% # Will contain the code to display the list of products%>    
</div>

<div class="footer-wrapper">
    <% # Will contain the code to display the footer%>
</div>