
<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% session[:cart].each do |id| %>
      <tr>
        <td><%= Product.find(id[0]).name %></td>
        <td><%= Product.find(id[0]).price %></td>        
        <td><%= id[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

