<h1 class="text-2xl font-bold mb-4">Order Details</h1>
<table class="w-full border-collapse">
    <thead>
        <tr>
            <th class="py-2 px-4 bg-gray-200">Product</th>
            <th class="py-2 px-4 bg-gray-200">Price</th>
            <th class="py-2 px-4 bg-gray-200">Product Page</th>
        </tr>
    </thead>
    <tbody>
        <% @order.products.each do |product| %>
            <tr>
                <td class="py-2 px-4 border"><%= product.name %></td>
                <td class="py-2 px-4 border"> <%= number_to_currency(product.price) %> </td>
                <td class="py-2 px-4 border"> <%= link_to "Product Page", product_path(product.id) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<p class="mt-4">Total Price: <%= number_to_currency(@order.total_price) %></p>
