<!-- FILEPATH: /Users/kailindholm/Documents/Fall 2023/SELT/SELT_Team_Project/app/views/carts/show.html.erb -->
<div class="cart-container">
  <h1> <%= @user.name %>'s Cart</h1>

  <%= render @cart.cart_items %>

  <p class="mt-6 text-4xl"> CART TOTAL: <%=  number_to_currency(@cart.total_price) %></p>
</div>