<% unless @search_res.blank? %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <% @search_res.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

