<div class="test-wrapper">
  <h3>This page works</h3>
  <% # A temporary wrapper to check if the page works.%>
</div>

<div class = "user-info-wrapper">
  <h3>Profile</h3>
  <div class = "user-info">

  </div>
</div>

<div class = "cart-wrapper">
  <h2>Current Cart</h2>
  <div class = current-cart>
    <%= link_to "See Cart",view_cart_path %>
  </div>
</div>