<div class = "user-info-wrapper">
  <h2>Profile</h2>
  <div class = "user-info">
    <p>Placeholder for username</p>
    <p>Placeholder </p>
  </div>
</div>

<div class = "cart-wrapper">
  <h3>Current Cart</h3>
  <div class = current-cart>
    <%= link_to "See Cart",view_cart_path %>
  </div>
</div>