.cart-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.cart-container h1 {
    text-align: left;
    text-decoration: solid underline;
    text-emphasis-color: #000000;
}