.preview-image {
    transition: transform 0.2s; /* Animation */
    backdrop-filter: blur(5px); /* Apply blur effect to the background */
}

.preview-image:hover {
    transform: scale(1.5); 
}

// Path: app/views/products/show.html.erb
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.product .product-thumbnail-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.product .product-thumbnail-container #thumbnail:hover{
    transform: scale(1.5);
}