<div class="for-you-wrapper"> 
    <h3>For You</h3>
    <% # Will contain the code to display current hot items, etc%>
</div>

<div class="product-list-wrapper">
    <h3>Products</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
        <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel">Card View</label>
    </div>
    
    <div class="product-list">
        <%= render @products %>
    </div>
</div>

<div class="footer-wrapper">
    <% # Will contain the code to display the footer%>
</div>